
@import "variables";
@import "mixins";

@import "components/fonts";
@import "components/type";
@import "components/icons/icons";

@import "components/scaffolding";
@import "components/normalize";
@import "components/grid";

// header components 
@import "components/phone/phone";
@import "components/navbar/navbar";

// content components 
@import "components/breadcrumbs/breadcrumbs";
@import "components/heading/headings";
@import "components/table/table";
@import "components/lists/ul";
@import "components/lists/gallery-list";
@import "components/img-holder";

// sidebar components
@import "components/search_form/search-form";
@import "components/form/form";
// @import "components/send_form/send-form";
@import "components/buttons/buttons";
//footer 
@import "components/lists/social-icons";

// main components
@import "components/table/table";
@import "components/tab/tab-js";



.header {
	padding: 30px 0;
}

.block {
	&:after {
		content: "";
	}
	&-fill-height {
		height: 100vh;
		display: table;
		width: 100%;
	}
	&-header {
		display: table-header-group;
		height: 1%;
	}
	&-body {
		display: table-row-group;
		height: 100%;
	}
	&-footer {
		display: table-footer-group;
		height: 1%;
	}
	&-inner {
		display: table-cell;
		vertical-align: middle;
	}
}
.article-block {
	padding: 10px 0;
}

.table-block {
	min-height: 200px;
}
.first-contact-row {
	margin-bottom: 20px;
}