.w-table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	&__zebra {
		tr {
			&:nth-child(even) {
	  		background: $table-even-tr-bg-color;
			}
		}
	}
	th {
		color: $table-th-color; 
	}
	td {
		padding: $table-td-padding 0;
		&:nth-child(2) {
  		color: $link-color;
		}
	}
	caption {
		text-align: left;
	}
}
