.img {
	&-holder {
		width: 100%;
		display: block;
	}
	&-item {
		width: 100%;
		height: auto;
	}
	&--left {
		float: left;
	}
	&--right {
		float: right;
	}
	&--small {
		width: 200px;
		height: auto;
	}
}