
.w-search {
	border: 1px solid;
	border-radius: 3px;
	border-color: $seacrh-form-border-color;
	width: 228px;
	height: 22px;
}
.w-search-input {
	display: inline-block;
	background-color: inherit;
    border: none; 
    outline: none;
    -webkit-appearance: none; 
    width: 200px; 
    vertical-align: middle;
}
.w-search-button {
	display: inline-block;
	padding: 0;
	border: none;
 	background: inherit;
 	vertical-align: middle;
 	line-height: 13px;
 	&:hover{
 		cursor: pointer;
 	}
}
//== use svg icon
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	&__search {
	font-size: 13px;
	fill: $link-color;
	}
}
