.w-send-form {
  border: 1px solid;
  border-radius: 3px;
  margin: 10px 0;
}

.w-send-form__input {
  padding: 6px 5px;
  width: 100%;
  display: inline-block;
  background-color: inherit;
  border: none;
  outline: none;
  -webkit-appearance: none;
  vertical-align: middle;
}
