
.w-search {
	border: 1px solid;
	border-radius: 3px;
	border-color: $seacrh-form-border-color;
    position: relative;
	&__input {
	display: inline-block;
	padding: 0;
	background-color: inherit;
    border: none; 
    outline: none;
    -webkit-appearance: none; 
    width: 100%;
    vertical-align: middle;
    line-height: 23px;
	}
	&__button {
	position: absolute;
	right: 2%;
	top: 20%;
	padding: 0;
	border: none;
 	background: inherit;
 	vertical-align: middle;
 	line-height: 13px;
	 	&:hover{
	 		cursor: pointer;
	 	}
	 	&:focus{
	 		outline: none;
	 	}	
	}
}
//== use svg icon
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	&__search {
	font-size: 13px;
	fill: $link-color;
	}
}
